@CHARSET "ISO-8859-1";

body {    
    margin: 0 !important;
    padding: 0 !important;
    background-color: #1E1E1E;
    
}

.ui-widget, .ui-widget .ui-widget 
{
    font-size: 100% !important; 
     
}

.ui-menu{
    white-space: nowrap;
    width: auto !important;
}
